[build]
  base = "client"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://diesel-mca-software-production.up.railway.app/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
